body {
    background-color: #097ddb;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

li {
    display: block;
}

.panel {
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.pricing-plan {
    border-bottom: 1px solid #e1f1ff;
}

.pricing-img {
    margin-bottom: 25px;
    max-width: 100%;
}

.pricing-header {
    color: #888;
    letter-spacing: 1px;
    font-weight: 600;
}

.pricing-features {
    color: #097ddb;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 50px 0 50px;
}

.pricing-features-item {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 15px 0;
    border-top: 1px solid #e1f1ff;
}

.pricing-features-item:last-child {
    border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
    color: #097ddb;
    display: block;
    font-size: 32px;
    font-weight: 700;
}

.pricing-button {
    color: #097ddb;
    border: 1px solid #e1f1ff;
    border-radius: 10px;
    margin: 25px 0;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    transition: all 200ms;
}

.pricing-button:hover,
.pricing-button:focus {
    background-color: #e1f1ff;
}

.is-featured {
    background-color: #097ddb;
    color: white;
}

.is-featured:hover {
    background-color: #269aff;
}

@media (min-width:900px) {
    .panel {
        flex-direction: row;
    }

    .pricing-plan {
        border: none;
        border-right: 1px solid #e1f1ff;
        padding: 25px 50px;

    }

    .pricing-plan:last-child {
        border: none;
    }
}